*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.homepage{
    background: #E9E9F6;
    height: 650px;
    width: 100%;
}

nav{
    justify-content: space-between;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 139, 0.89);
}
.logo{
    color: rgb(39, 187, 9);
    font-weight: 500;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
}
.homepage .topmenu{
        list-style-type: none;
        font-size: 1.2rem;

    /* flex: 1; */
    /* padding: 0px;
    margin: 0px; */
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-align: left !important;
}
.topmenu li{
    border-bottom: 5px solid rgb(13, 235, 61);
    border-bottom-width: 0;
    font-family: monospace;
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
}
.topmenu li:hover{
    transition: 0.3s ease-in-out;
    border-bottom-width: 3px !important;
    font-size: 1.5rem !important;
}
.header{
    color: rgb(2, 9, 68);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    padding-left: 50px;
    padding-top: 170px;
    position: absolute;
}

.subhead{
    font-size: 16px;
    padding-left: 60px;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 400px;
    position: absolute;
}

.login{
    height: 80%;
    width: 30%;
    margin-left: 800px;
    top: 70px;
    position: relative;
    background-color: white;
    border-radius: 10px;
}
.su{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(63, 22, 212);
    margin-left: 120px;
    padding-bottom: 20px;
}

 .st{
padding-bottom: 1rem;
}

input{
    width: 70%;
    margin-left: 40px;
    outline-color: rgb(63, 22, 212);
    padding: 0.4rem;
}
label{
    display: flex;
    text-align: centre;
    font-size: 15px;
    padding: auto;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 40px;
}
.mit{
    background-color: rgb(13, 235, 61);
    padding: 5px;
    width: 60%;
    margin-left: 55px;
    border: none;
    color: white;
    }
.mit:hover{
    transition: 0.2s ease-in-out;
    background-color: blueviolet;
}
.agree{
    margin-top: 15px;
    font-size: 12px;
    padding-left: 75px;
    }
.fool{
    padding-left: 5px;
    }
.privacy{
    font-size: 12px;
    padding-left: 85px;
    margin-top: 10px;
}

.w{
    margin-top:70px;
    margin-bottom: 70px;
    padding-left: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(12, 12, 88);
}

.flex-container{
    display: flex;
    background-color: white;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 150px ;
    flex-wrap: wrap;
}

.one {
    background-image: url(/pictures/rolls1\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 300px;
    width: 250px;
    font-size: 30px;
    box-shadow: 5px 5px 20px rgb(24, 22, 22);
}
.one:hover{
    /* transform: skew(-30deg); */
    transform: translateY(-17px);
    transition: 0.3s ease-in-out all;
}

.two {
    background-image: url(/pictures/rolls1\ \(2\).jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 300px;
    width: 250px;
    font-size: 30px;
    box-shadow: 5px 5px 20px rgb(24, 22, 22);
}
.two:hover{
    /* transform: skew(-30deg); */
    transform: translateY(-17px);
    transition: 0.3s ease-in-out all;
}

.three{
    background-image: url(/pictures/rolls1\ \(3\).jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 300px;
    width: 250px;
    font-size: 30px;
    box-shadow: 5px 5px 20px rgb(24, 22, 22);
}
.three:hover{
    /* transform: skew(-30deg); */
    transform: translateY(-17px);
    transition: 0.3s ease-in-out all;
}


.choose{
    height: 600px;
    width: 100%;
    position: absolute;
    background-color: rgb(237, 210, 238);
}

.team {
    padding-left: 80px;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(3, 3, 63);
}
.why{
    padding-left: 80px;
    padding-top: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(11, 11, 61);
}
.para{
    padding-left: 80px;
    position: absolute;
}

.pic1{
    background-image: url(/pictures/tag.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    background-color: black;
    height: 300px;
    width: 300px;
    margin-top: -30px;
    margin-left: 840px;
}
.pic2{
    position: relative;
    background-color: orange;
    height: 80px;
    width: 80px;
    margin-top: -300px;
    margin-left: 800px;
}

.info{
    background: white;
    height: 1100px;
    width: 100%;
}
.test{
    padding-top: 650px;
    padding-left: 270px;
    color: darkblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.img1{
    background-image: url(/pictures/IMG_20190709_182014_321.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 150px;
    width: 150px;
    margin-left: 198px;
    border-radius: 100px;
}
.txt1{
    padding-left: 400px;
    margin-top: -100px;
}
.img2{
    background-image: url(/pictures/IMG_20191102_124821.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 150px;
    width: 150px;
    margin-left: 200px;
    border-radius: 100px;
    margin-top: 70px;
}
.txt2{
    padding-left: 400px;
    margin-top: -100px;
}
.line{
    border-left: 6px solid green;
    height: 450px;
    margin-left: 700px;
    margin-top: -370px;
}
.off{
    color: darkblue;
    margin-top: -400px;
    padding-left: 800px;
    font-family: Arial, Helvetica, sans-serif;
}
.offp{
    padding-left: 800px;
    font-weight: bolder;
    font-size: 20px;
}
.tat{
    color: darkblue;
    padding-left: 800px;
    font-family: Arial, Helvetica, sans-serif;
}
.tatp{
    padding-left: 800px;
    font-weight: bolder;
    font-size: 20px;
}

footer{
    background-color: teal;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.socials{
    margin-top: -80px;
}

footer .socials li{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.socials li a {
    display: inline-flex;
    flex-direction: column;
    padding-left: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    flex-direction: column;
    z-index: 2;
}

.socials i{
    color: black;
    height: 40px;
    width: 40px;
    font-size: 15px;
    line-height: 40px;
    display: block;
    background: white;
    text-align: center;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0px 5px 5px rgb(11, 10, 28);
}

.socials .icon:hover span i{
    color: #fff;
}

.socials a .tooltip{
    position: absolute;
    top: 0px;
    background: #fff;
    font-size: 12px;
    padding: 5px 9px;
    border-radius: 25px;
    box-shadow: 0px 5px 5px rgb(11, 10, 28);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68. -0.55, 0.265, 1.55);
}
.socials a:hover .tooltip{
    top: -40px;
    opacity: 1;
    pointer-events: auto;
    background: #edf0f7;
}

.socials a .tooltip:before{
    position: absolute;
    content: "";
    height: 7px;
    width: 7px;
    background: rgb(255, 254, 254);
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}
.socials a:hover span,
.socials a:hover .tooltip{
    text-shadow: 0px, -1px, 0px rgba(0, 0, 0, 0.4);
}
.socials .facebook:hover i,
.socials .facebook:hover .tooltip,
.socials .facebook:hover .tooltip:before{
    background-color: #000000;
}



footer .ist{
    margin-top: 10px;
    display: flex;
    justify-content: space-around !important;
    margin-left: -400px;
    float: left;
    padding-right: 160px;
}
footer .ist li{
    list-style-type: none;
    padding-left: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.chrg{
    margin-right: -1000px;
    float: left;
    display: flex;
    justify-content: space-around !important;
    margin-top: 10px;
    align-items: left !important;
}
.chrg li{
    color: white;
    list-style-type: none;
    padding-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-left: 10px;
}
.sign-foot{
    display: flex;
    position: absolute;
    margin-top: 70px;
    margin-right: 100px;
    /* text-align: left !important; */
}
.sign-foot .update{
    color: greenyellow;
    font-size: 1.3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;

}
.sign-foot form{

    border-color: #0b2866;
    margin-left: -25px;
}
.sign-foot input{
    color: black !important;
    border-radius: 5px;
    border: 2px solid white;
    outline: none;
    height: 40px;
    width: 170px;
    background-color: rgb(255, 255, 255);
}
.sign-foot input{
    /* width: 100px; */
}
/* .sign-foot button{
    display: inline-block;
    border-radius: 5px;
    padding: 15px;
    border: none;
    outline: none;
    height: 30px;
    /* width: 70px; */
    /* justify-content: center;

} */ */




/*
@media only screen and (min-width: 768px){
    .ct-form-newsletter {
      text-align: left;
    } */