body{
    background-image: url(/pictures/222.jpg);
    background-repeat: no-repeat;
    background-color: rgba(8, 3, 32, 0.3);
    background-blend-mode: darken;
    object-position: center;
    /* position: absolute; */
    display: flex;
    justify-content: center;
}

.login{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 300px;
    width: 350px;
    top: 150px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(32px);
    border-radius: 10px;
}

h2{
    font-size: xx-large;
    color: green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 100px;
}
label{
    font-weight: bolder;
    display: flex;
    text-align: centre;
    font-size: 15px;
    padding: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 35px;
    color: rgb(4, 0, 14);
}
.mit{
   background-color: rgb(115, 179, 19); 
   border: none;
   padding: 9px;
   border-radius: 20px;
   color: white;
   margin-left: 40px;
   font-size: 17px;
   width: 200px;
   text-align: center;
   cursor: pointer;
}
.mit:hover{
    transition: 0.2s ease-in-out;
    background-color: rgb(8, 1, 29);
}
input{
    width: 70%;
    margin-left: 35px;
    border-bottom: 7px solid salmon;
    border: none;
    border-radius: 2px;
    padding: 5px;
}
.agree{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    padding-left: 50px;
}